/*
    STATCAN DAILY
    @title: StatCan Daily Project Main SCSS File

*/
.statcan-sdr {
  /* 
    STATCAN DAILY
    @title: Global Variables for the project

*/
  /* 
/* Extra small devices (phones, less than 768px) */
  /* No media query since this is the default in Bootstrap */
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
  /* 
    STATCAN DAILY
    @title: Mixins

*/
  /* 
    STATCAN DAILY
    @title: Base styles for headings and links and things

*/
  /*
    STATCAN DAILY
    @title: Navigation Styles

*/
  /*
    STATCAN DAILY
    @title: Styles for the indicator section

*/
  /*
    STATCAN DAILY
    @title: Styles for the main articles section

*/
  /*
    STATCAN DAILY
    @title: Styles for the new products section

*/
  /*
    STATCAN DAILY
    @title: Home page styles

*/ }
main {
  font-size: inherit;
  line-height: inherit;

}
.dailylogo{
    width: 100%;
    text-align: center;
}

.searchDiv{
    float: left;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    position: fixed;
    left: 50%;
    margin-left: -26px;
    bottom: 44px;
    z-index: 12;
    background: #F5A623 0% 0% no-repeat padding-box;
    box-shadow: 2px 1px 2px #00000061;
    text-align: center;
    padding-top: 6px;
}

  .statcan-sdr h2 {
    padding-bottom: 5px;
    font: Bold 24px Lato;
    border-bottom: 2px solid #f5a623; }
.statcan-sdr .drop-nav button,
.statcan-sdr .drop-nav button:active,
.statcan-sdr .drop-nav button:active:after {
    background: none;
    border: none;
}
.statcan-sdr .drop-nav button h3{
    padding: 3px;
    margin-bottom: 0;
    margin-top: 18px;
    padding-left: 12px;
    width: 130px;
    border: 2px solid #335075;
    border-radius: 5px;
    font: Bold 18px/22px Lato;
    letter-spacing: 0;
    color: #335075;
    opacity: 1;
}
.drop-nav:hover li {
    visibility: visible;
}
  .statcan-sdr .navigation {
    float: right;
    display: block;
    width: 130px;
    height: 50px;
    /* Hide the navigation header */
    /* The wrapper around the banner image */
    /* The list of links for the navigation entries */ }

    @media screen and (min-width: 768px) {
      .statcan-sdr .navigation {
        flex-direction: row;
        background-color: green; }
        .navigation .navIcon{
            display: none;
            /* hide icons on non-mobile*/
        }}
    .statcan-sdr .navigation h2 {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin-bottom: 10px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0; }
    .statcan-sdr .navigation .navigation-banner {
      align-self: center; }
    .statcan-sdr .navigation ul.navigation-links {
        display: none;
        list-style: none;
        text-align: center;
        color: #ffffff;
        background-color: white;
        width: 130px;
        padding-left: 0;
}
      @media screen and (min-width: 768px) {
        .statcan-sdr .navigation ul.navigation-links {
          flex-direction: row;
          justify-content: space-around;
          background-color: black; } }
      .statcan-sdr .navigation ul.navigation-links li {
          border-bottom: 1px solid #335075;
          float: left;
          width: 100%;
          padding: 6px;
          text-align: left;
          background-color: white;
          position: relative;
          z-index: 50;              }
        .statcan-sdr .navigation ul.navigation-links li a {
            color: #335075;
            font-weight: bold;
            text-decoration: none;
            font-size: 12px;}



  .statcan-sdr .indicators {
    margin: 30px 0px 20px 0px;
    /*
	.horizontal-scroll {

		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;

		.indicator-card {

			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: auto;

			padding: 20px;
			//margin: 15px;

			//min-width: 250px;
			//height: 100%;

			border-radius: $indicator-card-border-radius;
			//border: 1px solid blue;
			background-color:rgba(225,234,238,1);
			background-image: radial-gradient( circle farthest-corner at 18.7% 37.8%,  rgba(250,250,250,1) 0%, rgba(225,234,238,1) 90% );


			h3 {
				//white-space: nowrap;
				font-size: 1.5rem;

				margin: 0px;
				padding: 0px;
			}


			dl {
				//display: flex;
				//flex-direction: column;

				margin: 0px;
				padding: 0px 40px 0px 0px;

				// Hide the Data Heading
				dt {
					//@include accessible-invisible;

					//position: absolute;
					width: 1px;
					height: 1px;
					padding: 0;
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					white-space: nowrap;
					border: 0;
				}

				dd.indicator-time-value {
					font-size: 1.4rem;
					color: #707070;

					order: 1;
					//background-color: cornflowerblue;
				}

				dd.indicator-metric-value {
					font-size: 2.5rem;
					font-weight: bolder;

					order: 2;
					//background-color: green;
				}

				dd.indicator-change-value {

					font-size: 6rem;
					font-weight: bolder;

					margin: 0px 0px 0px auto;
					padding: 0px;
					order: 3;
					//background-color: orange;
				}

				dd.indicator-delta-value{

					font-size: 1.4rem;

					margin: 0px 0px 0px auto;
					padding: 0px;
					order: 4;
					//background-color: pink;
				}

			}



		}


	}
	*/ }

.newsh2{
    margin-top: 15px;
}
    .statcan-sdr .indicators ul.indicators-list {
      list-style: none;
      margin: 20px -15px 20px -15px;
      padding: 0px;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto !important;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      scrollbar-width: none;
      scroll-behavior: smooth; }
      .statcan-sdr .indicators ul.indicators-list::-webkit-scrollbar {
        display: none; }
      .statcan-sdr .indicators ul.indicators-list li {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 20px;
        overflow: hidden; }
        .statcan-sdr .indicators ul.indicators-list li .indicator-card {
          padding: 7px;
          width:  220px;
            overflow: hidden;
          height: 80px;
          border-radius: 2px;
          background: transparent linear-gradient(90deg, #EBEBEB 4%, #EBEBEB 54%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
            border: 1px solid #CCCCCC;}
          .statcan-sdr .indicators ul.indicators-list li .indicator-card h3 {
            font-size: 1.5rem;
            margin: 0px;
            padding: 0px; }
          .statcan-sdr .indicators ul.indicators-list li .indicator-card dl {
            display: flex;
            flex-direction: column;
            height:100px;
            margin: 0px;
            padding: 0px 0px 0px 0px; }
            .statcan-sdr .indicators ul.indicators-list li .indicator-card dl dt {
              position: absolute;
              width: 1px;
              height: 1px;
              padding: 0;
              overflow: hidden;
              clip: rect(0, 0, 0, 0);
              white-space: nowrap;
              border: 0;
              position: inherit !important;
              /*
						width: 1px;
						height: 1px;
						padding: 0;
						overflow: hidden;
						clip: rect(0, 0, 0, 0);
						white-space: nowrap;
						border: 0;
						*/ }

            .statcan-sdr .indicators ul.indicators-list li .indicator-card dl dd.indicator-metric-value {
              font-size: 18px;
              font-weight: bolder;
              order: 2; }
            .statcan-sdr .indicators ul.indicators-list li .indicator-card dl dd.indicator-change-value {
              font-size: 21px;
                position: relative;
                right: 28px;
                top: -27px;
              font-weight: bolder;
              margin: 0px 0px 0px auto;
              padding: 0px;
              order: 3; }
            .statcan-sdr .indicators ul.indicators-list li .indicator-card dl dd.indicator-delta-value {
                position: relative;
                left: 170px;
                bottom: 100px;
              order: 4; }
        .statcan-sdr .indicators ul.indicators-list li:last-child {
          padding-right: 40px !important; }
  .statcan-sdr ul.article-cards-style-main {
    list-style: none;
    margin: 20px 0px 0px 0px;
    padding: 0px; }
    .statcan-sdr ul.article-cards-style-main li .article-card {
      /*padding: 10px 15px 15px 15px;*/
      margin-top: 20px;
      display: flex;
      flex-direction: column; }
      .statcan-sdr ul.article-cards-style-main li .article-card .article-card-title {
        margin-top: 0px;
        font-size: 21px;
        font-weight: bolder; }
        .statcan-sdr ul.article-cards-style-main li .article-card .article-card-title a {
          text-decoration: none !important; }
        .statcan-sdr ul.article-cards-style-main li .article-card .article-card-title h2, .statcan-sdr ul.article-cards-style-main li .article-card .article-card-title h3, .statcan-sdr ul.article-cards-style-main li .article-card .article-card-title h4, .statcan-sdr ul.article-cards-style-main li .article-card .article-card-title h5, .statcan-sdr ul.article-cards-style-main li .article-card .article-card-title h6 {
          margin: 0px;
          padding: 0px 0px 8px 0px;
          font-size: inherit; }
      .statcan-sdr ul.article-cards-style-main li .article-card .article-card-information {
        order: -1;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .statcan-sdr ul.article-cards-style-main li .article-card .article-card-information .article-card-category {
          font-size: 14px;
          color: #335075;
          font-weight: bold;
          padding: 0px 0px 8px 0px;
          margin: 0px;
          display: flex;
          flex-direction: row; }
          .statcan-sdr ul.article-cards-style-main li .article-card .article-card-information .article-card-category a {
            color: #335075;
            text-decoration: none; 
            }
        .statcan-sdr ul.article-cards-style-main li .article-card .article-card-information .article-card-new {
          background-color: #114a80;
          color: #fff;
          border-radius: 5px;
          padding: 0px 15px 0px 15px;
          margin: 0px;
          font-weight: lighter;
          font-size: 1.5rem;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); }
      .statcan-sdr ul.article-cards-style-main li .article-card .article-card-content .article-card-image {
        margin: 10px 0px 10px 0px; }
        .statcan-sdr ul.article-cards-style-main li .article-card .article-card-content .article-card-image img {
          width: 100%;
          height: 200px;
          object-fit: cover;
 }
      .statcan-sdr ul.article-cards-style-main li .article-card .article-card-content .article-card-text {
        font-size: 16px;
        line-height: 2rem; }
    .statcan-sdr ul.article-cards-style-main li .article-card .article-card-content .article-card-text .article-card-date {
            font-size: 16px;
            font-weight: bold;
        }
  .statcan-sdr ul.article-cards-style-sub {
    list-style: none;
    margin: 20px 0px 0px 0px;
    padding: 0px; }
    .statcan-sdr ul.article-cards-style-sub li .article-card {
      border-bottom: 1px solid gray;
      margin-top: 20px;
      display: flex;
      flex-direction: column; }
    .statcan-sdr ul.article-cards-style-sub li:last-child {
          border-bottom: none; }
      .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-title {
        margin: 0px 0px 5px 0px;
        font-size: 18px;
        font-weight: bolder; }
        .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-title a {
          text-decoration: none !important; }
        .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-title h2, .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-title h3, .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-title h4, .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-title h5, .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-title h6 {
          margin: 0px;
          padding: 0px 0px 8px 0px;
          font-size: 20px; }
      .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-information {
        order: -1;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-information .article-card-category {
          font-size: 16px;
          color: #575757;
          font-weight: bold;
          padding: 0px;
          margin: 0px;
          display: flex;
          flex-direction: row; }
          .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-information .article-card-category a {
            color: #335075;
            text-decoration: none; }
        .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-information .article-card-new {
          display: none;
          /*
					background-color: $new-badge-bg-color;
					color: $new-badge-text-color;
					border-radius: 5px;
					padding: 0px 15px 0px 15px;
					margin: 0px;

					font-weight: lighter;
					font-size: 1.5rem;

					box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
					*/ }
      .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-content .article-card-image {
        display: none;
        /*
					img {
						width: 100%;
						height: 200px;
						//object-fit: cover;
						object-fit: cover;
						border-radius: $img-border-radius;

						box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
					}
					*/ }
      .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-content .article-card-text {
        font-size: 16px;
        line-height: 2rem; }
    @media (min-width: 992px) {
      .statcan-sdr ul.article-cards-style-sub li .article-card {
        border: 1px solid #cccccc;
        border-radius: 10px;
        padding: 10px 15px 15px 15px; }
        .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-title {
          margin: 10px 0px 0px 0px;
          font-size: 18px;
          font-weight: bold; }
        .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-information .article-card-new {
          display: block;
          background-color: #114a80;
          color: #fff;
          border-radius: 5px;
          padding: 0px 15px 0px 15px;
          margin: 0px;
          font-weight: lighter;
          font-size: 1.5rem;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); }
        .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-content .article-card-image {
          display: block;
          margin: 10px 0px 10px 0px; }
          .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-content .article-card-image img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); }
        .statcan-sdr ul.article-cards-style-sub li .article-card .article-card-content .article-card-text {
          font-size: 16px;
          line-height: 2.9rem; } }
  .statcan-sdr ul.product-list {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px; }
    .statcan-sdr ul.product-list li {
      margin: 0px 0px 0px 0px !important;
      padding: 1px 0px 0px 0px !important;
      padding-top: 0px !important; }
      .statcan-sdr ul.product-list li .product-card h3 {
        font-size: 16px;
        margin-top: 6px;
        padding-top: 0;
        margin-bottom: 5px; }
      .statcan-sdr ul.product-list li .product-card dl {
        margin-bottom: 0px;
        display: flex;
        font-size: 14px;
        flex-direction: column; }
        .statcan-sdr ul.product-list li .product-card dl dt {
          font-weight: normal; }
        .statcan-sdr ul.product-list li .product-card dl dt a {
            color: #5D5D5D;
        }
      .statcan-sdr ul.product-list li:not(:first-child) .product-card h3 {
        margin-top: 12px !important; }
    @media (min-width: 768px) {
      .statcan-sdr ul.product-list .product-card dl {
        flex-direction: row; } }
  .statcan-sdr .sub-content-container {
    display: flex;
    flex-direction: column; }
    .statcan-sdr .sub-content-container .sub-articles-container {
      order: 1; }
      .statcan-sdr .sub-content-container .sub-articles-container h2 {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0; }
    .statcan-sdr .sub-content-container .you-may-also-like-container {
      order: 2; }
    @media (min-width: 992px) {
      .statcan-sdr .sub-content-container .sub-articles-container {
        order: 2; }
      .statcan-sdr .sub-content-container .you-may-also-like-container {
        order: 1; } }
.ymalul{
    list-style-image: url('/img/layoutimg/ymalbullet.png');
}

.ymalul a {
    text-decoration: none;
    color: #26374A;
    font-size: 16px;
}

.readmorea, .readmorea:visited{
    color: #2A76B9;
}

.buffer {
    padding-bottom: 80px;
}

.spaceright{
    margin-right: 7%;
}

.connect{
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.connect dl{
    margin-bottom: 0;
}

.connect h3 {
    margin-top: 10px;
}

.font-size-16{
    font-size: 16px !important;
}

.header-end {
    border-bottom: 2px solid #f5a623;
}

.height-image-fix p{
    font-size: 16px;
    font-weight: bold;
}

.height-image-fix img{
    width: 100%;
          height: auto;
          object-fit: contain;
}

.font-table-title{
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
}

.daily-well {
    padding: 12px;
    padding-top: 5px;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.daily-well p{
    margin-bottom: 0;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

.navarrow {
    float: right;
    margin: 6px;
}

.show {
    display: block;
}